body{
  font-family: Arial, sans-serif;
  background:#f0f0f0;
  text-align:center;
  margin:0;
  padding:20px;
}

#cadastro{
  margin:20px auto;
}

input {
  padding:10px;
  width:200px;
  margin-right:10px;
}

button{
  padding:10px 20px;
  cursor:pointer;
  margin:10px;
}

ul{
  list-style:none;
  padding:0;
}

li{
  background:white;
  margin:5px auto;
  width:200px;
  padding:8px;
  border-radius:5px;
}

.match{
  background:white;
  margin:10px auto;
  width:300px;
  border-radius:8px;
  padding:10px;
}

.round{
  margin-top:30px;
}
